<div class="container">
  <footer>
    <div class="mt-4">
      <ul class="nav justify-content-end border-top pb-1 ">
        <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
      </ul>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center py-2 ">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
          <img class="mb-2" src="assets/img/logo.png" alt="mia" width="32" height="32">
        </a>
        <span class="mb-3 mb-md-0">MiaJS ©<%-new Date().getFullYear() %> ShamanCoders</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="fs-4" href="#"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a class="fs-4" href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="fs-4" href="#"><i class="bi bi-youtube"></i></a></li>
      </ul>
    </div>
  </footer>
</div>