<% layout("../_common/layout") %>
<div class="container py-4">
  <h1>About</h1>
  <h3 class="my-4">Our App</h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat sed est veritatis unde quos earum corrupti explicabo quas delectus iste debitis tempora, necessitatibus recusandae voluptas odio odit mollitia nobis!</p>

  <h3 class="my-4">Our Mission</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nulla animi autem laudantium unde iste esse facere, error sint dolore nobis qui, odio fugiat. Doloribus eum a quis officiis molestias.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aliquid, modi assumenda facilis natus temporibus ullam sed iure fuga consequuntur harum in cumque ab ipsam ipsum alias eum doloremque. Eos!</p>
</div>